* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.bar {
/*  border: 3px solid red;*/
/*  margin: 0 auto;*/
/*  padding-left: 60px;*/
/*  padding-right: 60px;*/
    padding: 15px 100px;
/*  box-sizing: border-box;*/
  background-color: #555555;
}

footer {
    padding: 10px;
    background-color: #424242;
    text-align: center;

}
header {
    background: no-repeat url("../image/Netflix-1.png");
}

/*------------------------------------*\
  #full-description
\*------------------------------------*/
.film-image {
    width: 300px;
    min-width: 300px;
}

.film-image img {
    width: 100%;
}

.film {
    margin: 20px;
    
}

.full-info {
    display: flex;
    flex-direction: row;
}

/*
.film.full-info .film-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
}
*/

.full-info .film-description {
    padding-left: 30px;
}

.full-info .film-description > * {
    padding: 10px 0;
}

.full-info .film-title {
    font-size: 40px
}

.full-info .film-year,
.full-info .film-duration {
    font: 20px;
    color: red;
}

.short-info {
    display: flex;
    flex-direction: column;
}



.films {
    display: flex;
    flex-flow: column wrap;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #232323;
}

.logo {
    margin: 10px 20px;
}



/*------------------------------------*\
  #HEADER
\*------------------------------------*/
/*------------------------------------*\
  #HEADER
\*------------------------------------*/
/*------------------------------------*\
  #HEADER
\*------------------------------------*/
/*------------------------------------*\
  #HEADER
\*------------------------------------*/
/*------------------------------------*\
  #LOGO
\*------------------------------------*/


